<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Both_1</string>
		<key>animation</key>
		<dict>
			<key>rotation</key>
			<array>
				<string>-9</string>
				<string>-9</string>
				<string>-9</string>
				<string>-9</string>
				<string>-9</string>
				<string>-10</string>
				<string>-10</string>
				<string>-11</string>
				<string>-11</string>
				<string>-11</string>
				<string>-11</string>
				<string>-11</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-13</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-15</string>
				<string>-17</string>
				<string>-17</string>
				<string>-17</string>
				<string>-14</string>
				<string>-14</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-12</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
				<string>-14</string>
			</array>
			<key>bounds</key>
			<array>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
				<string>{{0, 0}, {159, 159}}</string>
			</array>
			<key>position</key>
			<array>
				<string>{91.1, 127.1}</string>
				<string>{91.1, 127.1}</string>
				<string>{91.1, 127.1}</string>
				<string>{91.1, 127.1}</string>
				<string>{91.1, 128.1}</string>
				<string>{91.1, 130.1}</string>
				<string>{90.1, 134.1}</string>
				<string>{90.1, 136.1}</string>
				<string>{90.1, 138.1}</string>
				<string>{90.1, 138.1}</string>
				<string>{91.1, 139.1}</string>
				<string>{92.1, 140.1}</string>
				<string>{93.1, 139.1}</string>
				<string>{94.1, 138.1}</string>
				<string>{95.1, 137.1}</string>
				<string>{96.1, 136.1}</string>
				<string>{96.1, 136.1}</string>
				<string>{96.1, 136.1}</string>
				<string>{96.1, 136.1}</string>
				<string>{98.1, 136.1}</string>
				<string>{99.1, 137.1}</string>
				<string>{101.1, 138.1}</string>
				<string>{103.1, 138.1}</string>
				<string>{105.1, 138.1}</string>
				<string>{107.1, 139.1}</string>
				<string>{109.1, 140.1}</string>
				<string>{112.1, 140.1}</string>
				<string>{114.1, 141.1}</string>
				<string>{115.1, 140.1}</string>
				<string>{115.1, 140.1}</string>
				<string>{113.1, 142.1}</string>
				<string>{111.1, 142.1}</string>
				<string>{109.1, 142.1}</string>
				<string>{107.1, 142.1}</string>
				<string>{107.1, 142.1}</string>
				<string>{104.1, 142.1}</string>
				<string>{103.1, 143.1}</string>
				<string>{102.1, 144.1}</string>
				<string>{101.1, 145.1}</string>
				<string>{100.1, 146.1}</string>
				<string>{99.1, 147.1}</string>
				<string>{98.1, 148.1}</string>
				<string>{97.1, 149.1}</string>
				<string>{96.1, 150.1}</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
