<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>proC_2</string>
		<key>animation</key>
		<dict>
			<key>bounds</key>
			<array>
				<string>{{0, 0}, {105, 130}}</string>
				<string>{{0, 0}, {105, 137}}</string>
				<string>{{0, 0}, {96, 140}}</string>
				<string>{{0, 0}, {100, 135}}</string>
				<string>{{0, 0}, {100, 130}}</string>
			</array>
			<key>position</key>
			<array>
				<string>{247, 145}</string>
				<string>{248, 151}</string>
				<string>{247, 149}</string>
				<string>{247, 152}</string>
				<string>{248, 158}</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>proC_3</string>
		<key>animation</key>
		<dict>
			<key>bounds</key>
			<array>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
				<string>{{0, 0}, {44, 52}}</string>
			</array>
			<key>position</key>
			<array>
				<string>{373, 64}</string>
				<string>{368, 64}</string>
				<string>{371, 63}</string>
				<string>{371, 61}</string>
				<string>{368, 64}</string>
				<string>{480, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
				<string>{600, 64}</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
